@model NationalLevelPaperPresentation.Models.Activity

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eligibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eligibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img style="80px" src=" @Html.DisplayFor(model => model.Image) "/> 
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prize_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prize_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.terms_and_conditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.terms_and_conditions)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.activity_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
